ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}



li {
    float: right;
}



li.home {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    font-weight: bold;
}

li.contact {
    float: left;
    margin-left: 25px;
    cursor: pointer;
    font-weight: bold;
}

.bioLink {
    cursor: pointer;
    font-weight: bold;
}



.portfolio {
    cursor: pointer;
    font-weight: bold;
}



li {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 18px;
    text-decoration: none;
}



li:hover {
    background-color: #111;
}



.Github {
    color: green;
    font-weight: bold;
}



.Linkedin {
    color: rgb(33, 124, 199);
    font-weight: bold;
}



.homePage {
    background-color: lightblue;
    margin-top: 90px;
    margin-right: 130px;
    margin-left: 130px;
    padding-top: 90px;
    padding-right: 100px;
    padding-bottom: 450px;
    padding-left: 100px;
}


.contactInfo {
    display: none;
    background-color: lightblue;
    margin-top: 90px;
    margin-right: 130px;
    margin-left: 130px;
    padding-top: 90px;
    padding-right: 100px;
    padding-bottom: 450px;
    padding-left: 100px;
}


.bioPage {
    display: none;
    background-color: lightblue;
    margin-top: 90px;
    margin-right: 130px;
    margin-left: 130px;
    padding-top: 90px;
    padding-right: 100px;
    padding-bottom: 450px;
    padding-left: 100px;

}



.projects {
    display: none;
    background-color: lightblue;
    margin-top: 90px;
    margin-right: 130px;
    margin-left: 130px;
    padding-top: 90px;
    padding-right: 100px;
    padding-bottom: 450px;
    padding-left: 100px;
}